{% from "__autoindex__/entry.html" import entry, thead with context %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Index of {{ path|e }}</title>
  <link rel="stylesheet" type="text/css"
    href="{{ url_for("static", filename="autoindex.css")|e }}" />
  {% block meta %}{% endblock %}
</head>
<body>
  {% block header %}{% endblock %}
  {% block table %}
    <table>
      <thead>
        {{ thead() }}
        {% if path != "/" %}
          <tr>
            <td class="path" colspan="4"><h1>{{ path|e }}</h1></td>
          </tr>
        {% endif %}
      </thead>
      <tbody>
        {% for ent in entries %}
          {{ entry(ent) }}
        {% endfor %}
      </tbody>
    </table>
  {% endblock %}
  {% block footer %}
    {% set env = request.environ %}
    <address>{{ env.SERVER_SOFTWARE|e }}
      Server at {{ env.HTTP_HOST|e }}
      Port {{ env.SERVER_PORT|e }}</address>
  {% endblock %}
</body>
</html>
